<div id="navbar">
    <a class="logo"> <img src="../../../assets/images/logo.png" alt=""> </a>
    <div id="navbar__inside-text">
        <a class="item">Home</a>
        <a class="item">News</a>
        <a class="item">Contact</a>
    </div>
</div>
<br>
<br>
<br>
<br>

<!-- Banner START -->
<div id="banner" #banner>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="../../../assets/images/food-1.jpg" alt=""></ng-template>  
      <ng-template carouselSlide><img src="../../../assets/images/food-2.jpg" alt=""></ng-template>  
      <ng-template carouselSlide><img src="../../../assets/images/food-3.jpg" alt=""></ng-template>  
    </owl-carousel-o>
</div>
<!-- Banner END -->

<!-- ABout US START -->
<div id="about-us">
    <h2>ABOUT US</h2>
    <br>
    <p> <i>We love restaurants as much as you do. That’s why we’ve been helping them fill tables since 1999. Welcome to elixir restaurant</i></p>
</div>
<!-- About Us END -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- HISTORY START -->
<div id="history">
    <div id="float-left">
        <h1>The History</h1>
        <p>The History of Kitchens and Cooks gives further intimation on Mr Boulanger usual menu, stating confidently that "Boulanger served salted poultry and fresh eggs, all presented without a tablecloth on small marble tables". Numerous commentators have also referred to the supposed restaurant owner's eccentric habit of touting for custom outside his establishment, dressed in aristocratic fashion and brandishing a sword
        According to Miss Spang, there is not a shred of evidence for any of it. She said: These legends just get passed on by hearsay and then spiral out of control. Her interest in Boulanger dates back to a history of food seminar in Paris in the mid-1990s
        </p>
    </div>

    <div id="float-right">
        <owl-carousel-o [options]="customOptions2">
            <ng-template carouselSlide>
                <img src="../../../assets/images/about01.jpg" alt="">
            </ng-template>

            <ng-template carouselSlide>
                <img src="../../../assets/images/about02.jpg" alt="">
            </ng-template>

            <ng-template carouselSlide>
                <img src="../../../assets/images/about03.jpg" alt="">
            </ng-template>
        </owl-carousel-o>
    </div>
</div>

<div id="history-2">
    <div id="float-left">
        <p>The History of Kitchens and Cooks gives further intimation on Mr Boulanger usual menu, stating confidently that "Boulanger served salted poultry and fresh eggs, all presented without a tablecloth on small marble tables". Numerous commentators have also referred to the supposed restaurant owner's eccentric habit of touting for custom outside his establishment, dressed in aristocratic fashion and brandishing a sword
            According to Miss Spang, there is not a shred of evidence for any of it. She said: These legends just get passed on by hearsay and then spiral out of control. Her interest in Boulanger dates back to a history of food seminar in Paris in the mid-1990s
        </p>
    </div>

    <div id="float-right">
        <owl-carousel-o [options]="customOptions3">
            <ng-template carouselSlide>
                <img src="../../../assets/images/about04.jpg" alt="">
            </ng-template>

            <ng-template carouselSlide>
                <img src="../../../assets/images/about05.jpg" alt="">
            </ng-template>

            <ng-template carouselSlide>
                <img src="../../../assets/images/about06.jpg" alt="">
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- HISTORY END -->