body, html {
    height: 100%;
}

/* TopBar START */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px 16px;
    background: #131212;
    color: #f1f1f1;
    width: 100%;
    text-decoration: none;
    height: 60px;
    opacity: 0.97;
}

#navbar > a {
    color: white;
    padding: 20px;
}

#navbar__inside-text {
    float: right;
    display: inline-block;
    padding: 1.5%;
}

.item {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.logo {
    float: left;
}

.active {
    color: #AB944C;
}

/* TOpBar END */

/* Banner START */

/* Banner END */

/* About US START */
#about-us > h2::before {
    content: url('../../../assets/images/header_decorator.png');
}

#about-us > h2::after {
    content: url('../../../assets/images/header_decorator.png');
}

#about-us {
    position: absolute;
    left: 50%;
    transform:translate(-50%);
    text-align: center;
}

#about-us > h2 {
    display: inline-block;
}
/* About Us END */

/* History START */
#history {
    width: 100%;
    font-size: 1rem;
    
}

#float-left {
    display: inline-block;
    width: 50%;
    float: left;
    vertical-align: middle;
    line-height: 270%;
    text-align: center;
}

#float-right {
    width: 50%;
    float: left;
    display: inline-block;
}

#float-left > h1 {
    color: #BEA555;
    font-family: 'Great Vibes', cursive;
    font-size: xxx-large;
}

#history-2 > #float-left {
    display: inline-block;
    width: 50%;
    float: right;
    vertical-align: middle;
    line-height: 270%;
    text-align: center;
}

#history-2 > #float-right {
    display: inline-block;
    width: 50%;
    float: left;
    vertical-align: middle;
    line-height: 270%;
    text-align: center;
}

/* History END */

/* Opening Hours START */
.parallax {
    color: white;
    display: inline-block;
    width: 100%;
    background-image: url('../../../assets/images/opening_hours.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading-text > h1 {
    text-align: center;
}

#opening-time {
    text-align: center;
}

#phone-number {
    display: inline-block;
    width: 100%;
}

#opening-time > #float-left {
    font-size: x-large;
}

#opening-time > #float-right {
    font-size: x-large;
}

#opening-time > #float-left > h2 {
    color: #BEA555;
    font-family: 'Great Vibes', cursive;
}


#opening-time > #float-right > h2 {
    color: #BEA555;
    font-family: 'Great Vibes', cursive;
}

#float-right {
    display: inline-block;
    width: 50%;
    float: left;
    vertical-align: middle;
    line-height: 270%;
    text-align: center;
}
/* Opening Hours END */

/* Menu START */
#menu-img {
    text-align: center;
}

#column-1 {
    display: inline-block;
    width: 30%;
    margin-left: 2.5%;
}

#column-1__float-left {
    display: inline-block;
}

#column-1__float-right {
    display: inline-block;
    float: right;
}

#column-1 > div {
    margin-bottom: 5%;
}

#column-2 {
    display: inline-block;
    width: 30%;
    margin-left: 2.5%;
}

#column-2__float-left {
    display: inline-block;
}

#column-2__float-right {
    display: inline-block;
    float: right;
}

#column-2 > div {
    margin-bottom: 5%;
}

#column-3 {
    display: inline-block;
    width: 30%;
    margin-left: 2.5%;
}

#column-3__float-left {
    display: inline-block;
}

#column-3__float-right {
    display: inline-block;
    float: right;
}

#column-3 > div {
    margin-bottom: 5%;
}

.btn-primary {
    color: #BEA555;
    background: white;
    border: solid #BEA555;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
    font-weight: 600;
}

.btn-primary:hover {
    color: white;
    background: #BEA555;
    transition: 1s;
}
/* Menu END */

/* Testimonial START */
#testimonial {
    color: white;
    display: inline-block;
    width: 100%;
    background-image: url('../../../assets/images/testimonials.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial_logo {
    text-align: center;
}

.testimonial_text {
    display: inline-block;
    width: 80%;
    padding-left: 4%;
    font-size: x-large;
}

.testimonial_text > h2 {
    color: #BEA555;
}

.testimonial-text__line {
    display: inline-block;
    width: 10%;
}

#author {
    font-family: 'Great Vibes', cursive;
    color: #BEA555;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: transparent !important;
    border: solid 2px #BEA555 !important;
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
 .owl-theme .owl-dots .owl-dot:hover span {
     background: #BEA555 !important;
 }
/* Testimonial END */

/* Contact START */
#contact {
    background: black;
    opacity: 1;
    height: 500px;
    padding: 2%;
}

#contact-heading {
    text-align: center;
    color: white;
}

#contact-form > form {
    display: inline-block;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#contact-form__float-left {
    display: inline-block;
    float: left;
    width: 45%;
}

#contact-form__float-left > input {
    width: 95%;
    margin-bottom: 5%;
    padding: 5%;
    background: #2A2828;
    border: transparent;
}

#contact-form__float-right {
    display: inline-block;
    float: right;
    width: 50%;
}

#contact-form__float-right > textarea {
    width: 100%;
    background: #2A2828;
    border: transparent;
}

.button {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.button > button {
    background: #BEA555;
    border: none;
    padding: 20px;
    width: 20%;
    color: white;
}

.button > button:hover {
    background: white;
    color: #BEA555;
    transition: 1s;
}

form {
    padding: 2%;
}
/* Contact END */