<div id="navbar">
    <a class="logo"> <img src="../../../assets/images/logo.png" alt=""> </a>
    <div id="navbar__inside-text">
        <a class="item" (click)="goToElement($event)">Home</a>
        <a class="item" (click)="goToElement($event)">News</a>
        <a class="item" (click)="goToElement($event)">Contact</a>
    </div>
</div>

<div id="banner" #banner>

</div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus turpis vitae odio eleifend tempor. Maecenas commodo luctus dui facilisis ornare. Nunc et urna eu lacus sollicitudin vestibulum sit amet eget ante. Pellentesque lobortis iaculis semper. Morbi sed sem eu risus rhoncus efficitur. Vestibulum vel tortor in magna venenatis pharetra. Praesent fermentum vel ipsum vel malesuada. Mauris eleifend varius lectus finibus porttitor. Duis mauris sem, elementum vel odio ut, commodo rhoncus mi.

Nulla facilisi. Integer molestie turpis in pharetra commodo. Cras nibh ipsum, pulvinar id lacinia id, convallis et ipsum. Morbi non eros eget ligula ultricies interdum id eu tellus. Suspendisse ullamcorper purus vitae nisl viverra molestie. Aenean at felis velit. Nam blandit purus vitae bibendum rutrum. Sed viverra diam suscipit feugiat posuere. Ut facilisis fringilla pretium. Sed vel sapien interdum, iaculis ligula ut, fringilla lorem. Curabitur ultrices mauris convallis ante lacinia, quis laoreet ante molestie. Vivamus ac tincidunt neque. Vestibulum dapibus lacus at dui sollicitudin, vitae blandit sapien maximus. Phasellus scelerisque urna laoreet, molestie lacus sit amet, maximus leo. Cras ut lacinia diam.

Fusce sed odio in odio feugiat tincidunt in id metus. Integer ultricies at sem in faucibus. Nullam vel dui et felis suscipit posuere quis ornare diam. Praesent euismod erat non augue blandit auctor. Etiam quis neque sollicitudin, mollis justo id, fringilla felis. Sed et faucibus ante, sed finibus nisl. Nullam tempor eget ante vel lacinia. Ut condimentum orci non placerat blandit. Etiam at aliquam enim. Nullam id malesuada magna. Integer feugiat justo justo.

Aenean porta ac massa sed commodo. Proin molestie ante orci, ac interdum arcu consectetur et. Nullam et nulla vitae mi suscipit posuere. Praesent non mauris quis justo cursus maximus. Quisque nulla dui, auctor at gravida eget, dignissim at tortor. Integer posuere facilisis mollis. Nullam ut urna odio. Suspendisse viverra mi nec dui consectetur, nec bibendum diam dictum.

Aenean non posuere arcu, ut sodales purus. Suspendisse sollicitudin elit neque. Praesent nec libero at erat fermentum commodo et sit amet felis. Duis ultrices scelerisque lorem id lacinia. Vivamus sapien urna, vehicula id augue eget, rutrum sodales justo. Maecenas feugiat arcu eget nisl maximus, a faucibus purus suscipit. Nullam vel consectetur lorem. Nam aliquet purus maximus varius viverra. Nam varius sagittis ipsum in efficitur. Phasellus efficitur enim a massa varius, ut convallis metus euismod. Curabitur nunc dui, bibendum et odio ut, varius sagittis risus. Nunc posuere maximus nulla id bibendum. Maecenas sed mollis eros. Vivamus sed nisl vel nulla ornare malesuada. Ut neque nisl, tempus vel augue sit amet, molestie dignissim neque.
</p>