/* TopBar START */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px 16px;
    background: #131212;
    color: #f1f1f1;
    width: 100%;
    text-decoration: none;
    height: 60px;
    opacity: 0.97;
}

#navbar > a {
    color: white;
    padding: 20px;
}

#navbar__inside-text {
    float: right;
    display: inline-block;
    padding: 1.5%;
}

.item {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.logo {
    float: left;
}

.active {
    color: #AB944C;
}

/* TOpBar END */

/* Banner START */

/* Banner END */

/* About US START */
#about-us > h2::before {
    content: url('../../../assets/images/header_decorator.png');
}

#about-us > h2::after {
    content: url('../../../assets/images/header_decorator.png');
}

#about-us {
    position: absolute;
    left: 50%;
    transform:translate(-50%);
    text-align: center;
}

#about-us > h2 {
    display: inline-block;
}
/* About Us END */

/* History START */
#history {
    width: 100%;
    font-size: 1rem;
    
}

#float-left {
    display: inline-block;
    width: 50%;
    float: left;
    vertical-align: middle;
    line-height: 270%;
    text-align: center;
}

#float-right {
    width: 50%;
    float: left;
    display: inline-block;
}

#float-left > h1 {
    color: #BEA555;
    font-family: 'Great Vibes', cursive;
    font-size: xxx-large;
}

#history-2 > #float-left {
    display: inline-block;
    width: 50%;
    float: right;
    vertical-align: middle;
    line-height: 270%;
    text-align: center;
}

#history-2 > #float-right {
    display: inline-block;
    width: 50%;
    float: left;
    vertical-align: middle;
    line-height: 270%;
    text-align: center;
}

/* History END */