<div id="navbar">
    <a class="logo"> <img src="../../../assets/images/logo.png" alt=""> </a>
    <div id="navbar__inside-text">
        <a class="item">Home</a>
        <a class="item">News</a>
        <a class="item">Contact</a>
    </div>
</div>
<br>
<br>
<br>
<br>

<div id="banner" #banner>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="../../../assets/images/food-1.jpg" alt=""></ng-template>  
      <ng-template carouselSlide><img src="../../../assets/images/food-2.jpg" alt=""></ng-template>  
      <ng-template carouselSlide><img src="../../../assets/images/food-3.jpg" alt=""></ng-template>  
    </owl-carousel-o>
</div>